# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/

# Testing
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env*.local

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.pem
*.tgz
